<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>blup</title>
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<link rel="stylesheet" type="text/css" href="/public/css/flexgrid.css">
</head>
<body>
	<section class="row main">
		<div class="col">
			<div class="row logo">
				<div class="col">blup</div>
			</div>
			<div class="row">
				<canvas id="canvas-bubbles"></canvas>
			</div>
		</div>
	</section>
	<section class="row work">
		<div class="col">
			<div class="row">
				<div class="col work-title">
					Works
				</div>
			</div>
			<div class="row work-body">
				
			</div>
		</div>
	</section>
	<footer class="row info">
		<div class="col">
			<div class="row">
				<canvas id="canvas-waves"></canvas>
			</div>
			<div class="row info-body">
				<div class="col footer-logos">
					<a href="https://github.com/heychez/blup" target="_blank"><img src="/public/img/github-logo.png"></a>
				</div>
				<div class="col">&copy; 2016</div>
				<div class="col author">
					by <a href="https://plus.google.com/u/0/+RobertoCarlosCuadrosLoayza" target="_blank">Roberto Cuadros</a> - <span class="author-email">roberto.cclo@gmail.com</span>
				</div>
			</div>
		</div>
	</footer>
	
	<script type="text/javascript" src="/public/js/canvas.js"></script>
</body>
</html>